<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="~{layouts/header :: head}"> </div>
</head>
<body>
    <div class="container">
        <h2>Username</h2>
        <form action="/chat/login" method="post">
            <div class="form-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name" required oninvalid="this.setCustomValidity('이름을 입력하세요.')" oninput="this.setCustomValidity('')">
                <button type="submit" id="connect" class="btn btn-success">Connect</button>
            </div>
        </form>
    </div>
    <script>
        // 페이지 로드시 이름 필드에 포커스
        window.onload = function() {
            document.getElementById("name").focus();
        };
    </script>
</body>
</html>
