<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chat</title>
    
        <link rel="stylesheet" href="/css/style.css">
        
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
        <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>

    </div>
    


</head>

<body>



</body>

</html>